<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ck.dev.tiptap">

    <application
        android:name=".ui.GameApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TipTap">
        <activity android:name=".ui.games.rememberthecard.RememberTheCardActivity"></activity>
        <activity android:name=".ui.games.jumbledwords.JumbledWordsActivity" />
        <activity android:name=".ui.games.findthenumber.FindTheNumbersActivity" />
        <activity android:name=".ui.GameMainScreen" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>